* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 10%);
    padding: 20px;
  } */
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1200px;
  }
  
  .card_c {
    position: relative;
    background-color: #1a1a1a;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .card_c:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  }
  
  .card-content {
    padding: 20px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  
  .card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #00bcd4; /* Color for the title */
  }
  
  .card-blurb {
    font-size: 1rem;
    line-height: 1.5;
    color: #ddd; /* Lighter color for the blurb */
  }
  
  .card_c:hover .card-title {
    color: #00e5ff; /* Changes title color on hover */
  }
  
  .card_c:hover .card-blurb {
    color: #aaa; /* Changes blurb color on hover */
  }
  